<html>
  <head>
    <link
      href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700'
      rel='stylesheet'
    />
    <style type='text/css'>
      body { display: flex; flex-flow: column wrap; justify-content: center;
      align-items: center; background: #1b1b1b; color: #fff; font-family:
      'Montserrat', 'Tahoma'; } h4 { font-size: 18px; font-weight: 400; }
    </style>
  </head>

  <body>
    <img
      src='https://techcommunity.microsoft.com/t5/image/serverpage/image-id/172206i70472167E79B9D0F/image-size/large?v=v2&px=999'
      width='120'
    />
    <p>Hola {{name}}</p>
    <p>Por favor, haga click en el siguiente boton para activar su cuenta</p>
    <br />
    <a
      style='background-color: turquoise; border: none; border-radius: 5px; color: #333; padding: 15px 32px'
      href='{{url}}'
    >
      Activar Mi Cuenta
    </a>
    <br />
    <hr />
    <p>Si no ha solicitado este correo electrónico, puede ignorarlo.</p>
  </body>

</html>